html {
    font-family: 'Inter', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.signup-form > button {
    border-radius: 0;
    padding: 5px 50px;
}

.signup-form > div > input {
    border-radius: 0;
    border-color: black;
}

.signup-form > div > input:focus {
    box-shadow: none;
    border-color: black;
}
