html {
    font-family: 'Inter', sans-serif;
}

.country-data {
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
    width: 50px;
}

main {
    padding: 20px 10px;
}

h1 {
    margin: 15px 0;
}

#get-data-button {
    padding: 10px 50px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    outline: none;
}

#get-data-button:hover {
    background-color: #fff;
    color: #000;
    outline: 1px solid;
    cursor: pointer;
}

#geo-data {
    /* display: none; */
    transition: 1s;
    padding: 20px 0;
}

.geo-data-container {
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
}

.geo-data-item {
    width: 33%;
    padding: 10px 0;
    font-size: 26px;
    font-weight: 900;
    margin: 10px auto;
}

span {
    font-weight: 100;
    margin-left: 5px;
    color: gray;
}

#googleMap {
    width: calc(100% - 20px);
    height: 400px;
    margin: 10px 0;
    border: 1px solid #000;
}

.geo-data-item-2 {
    padding: 10px 0;
    font-size: 26px;
    font-weight: 900;
    margin: 10px 0;
}

.post-office-container {
    margin: 20px 0;
}

#post-office-search {
    padding: 20px 5px;
    width: calc(100% - 20px);
    font-size: 20px;
    outline: 1px solid gray;
    border-radius: 6px;
    border: none;
}

.post-offices{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;

}

.post-office {
    border: 1px solid gray;
    padding: 10px;
    width: 30%;
    border-radius: 6px;
    margin: 10px auto;
}

.post-office-item {
    margin: 5px 0;
    font-size: 22px;
    font-weight: bold;
}