body {
    margin: 0;
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    background: #1E1E1E;
    color: #fff;
}

header {
    padding: 10px 0;
}


.form-data {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.form-input > label {
    font-size: 14px;
    font-weight: bold;
}

.form-input > input {
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    color: #fff;
    border: 1px solid;
    background-color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    border-radius: 3px;
    transition: 0.5s;
}

.form-input > input:focus {
    box-shadow:0 0 10px rgba(81, 203, 238, 1);
}

#addEmployee {
    padding: 10px 50px;
    border-radius: 3px;
    background-color: #fff;
    color: #1E1E1E;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

#addEmployee:hover {
    background-color: #1E1E1E;
    color: #fff;
    outline: 1px solid;
    cursor: pointer;
}

.alert-container {
    margin: 20px 0;
}

.error {
    color: #FF4343;
}

.success {
    color: #43FF78;
}


.employee-data-container {
    margin-top: 50px;
    margin-bottom: 10px;
}

p {
    color: gray;
}

.employee-card {
    margin: 15px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.employee-card .emp-card-main {
    color: #fff;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.employee-card .delete-employee {
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
}

.delete-employee:hover {
    opacity: 0.7;
    cursor: pointer;
}